# Archivos de compilación de Gradle
.gradle/
build/

# Archivos de Gradle Wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# Archivos de configuración de IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws
out/

# Archivos de configuración de Eclipse
.project
.classpath
.csettings/
.settings/
bin/
tmp/

# Archivos de configuración de NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Archivos de sistema (Mac, Windows)
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de Maven
target/

# Archivos de caches de compilación
*.class
*.jar
*.war
*.ear

# Archivos de cobertura de pruebas
*.lcov
*.coverage

# Otros archivos innecesarios
*.bak
*.swp
*.swo
*.old
